<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<style>.list-block .item-title.label {
    width: 25%
}

.item-title {
    font-size: .7rem !important
}

.chongzhi-btn {
    background: #00dbf5;
    text-align: center;
    line-height: 2.4rem;
    height: 2.4rem;
    color: #fff;
    display: block;
    width: 94%;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 1rem;
    border: 0
}

.loginbackground {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    background-size: 100% 100%
}

.content input[type=password], .content input[type=text] {
    border: 0;
    font-size: .7rem;
    margin-right: 5px;
    width: 68%;
    font-weight: 400;
    color: #666;
    text-indent: 0
}</style>
<div class="loginbackground"></div>
<div class="content">
    <div class="list-block">
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">手机号</div>
                        <div class="item-input"><input type="text" id="mobile" placeholder="请输入手机号"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-email"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">验证码</div>
                        <div class="item-input"><input type="text" id="checkcode" style="display:initial;width:50%"
                                                       placeholder="请输入验证码"> <a href="javascript:void(0)" id="sendMsg"
                                                                                class="button"
                                                                                style="display:initial;padding:.5rem .5rem">发送验证码</a>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">密码</div>
                        <div class="item-input"><input type="password" id="password" placeholder="请输入密码"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-password"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">确认密码</div>
                        <div class="item-input"><input type="password" id="repassword" placeholder="请再次输入密码"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">姓名</div>
                        <div class="item-input"><input type="text" id="username" placeholder="请输入姓名"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-gender"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">性别</div>
                        <div class="item-input"><select id="sex">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">地址</div>
                        <div class="item-input"><input type="text" id="city-picker" value="湖北 武汉 武昌区"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-media"><i class="icon icon-form-name"></i></div>
                    <div class="item-inner">
                        <div class="item-title label">详细地址</div>
                        <div class="item-input"><input type="text" id="address" placeholder="详细地址"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="content-block">
        <div class="row">
            <div class="col-100"><a href="#" id="btnregist" class="chongzhi-btn">注册</a></div>
        </div>
    </div>
</div>{{js base.jsPageId}}