{{css base.css}}

<div id="container">
    <style type="text/css">body {
        color: #052945;
    }

    * {
        padding: 0;
        margin: 0;
    }

    img {
        float: none;
    }

    .detail {
        margin: 0 18px 80px 18px
    }

    .img_icon {
        width: 22%;
        margin: 20px 0 12px 0;
    }

    .btn_download {
        width: 25%;
    }

    li {
        list-style-type: none;
        list-style-image: none;
        background-image: url("../images/page/xiaoe_li.png");
        background-repeat: no-repeat;
        background-position: left 16px;
        background-size: 9px;
        padding: 10px 0 10px 18px;
        font-size: 16px;
    }

    a {
        display: block;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    .icon {
        text-align: center;
        font-size: 14px;
    }

    .icon p:first-child {
        margin: 6px;
    }</style>
    <div class="showpic">
        <div class="detail">
            <div class="introduce">
                <ul>
                    <li>多少人，曾想过开家属于自己的小店？自由、自主、自乐，没有上司，不用打卡，自己就是自己的老板。</li>
                    <li>浣衣坊洗衣助手app，社区里的“网上洗衣店主”，按营业额提成计算收入，高比例提成，利润空间秒杀线下洗衣店！</li>
                    <li>你需要做的，就是经营小店、取送服务、推广售卡，工作的时间自己决定，工作的范围就在附近！</li>
                    <li>多劳多得，优秀店主还有丰厚的奖励！努力的你，一定会有配得上的收入！</li>
                </ul>
            </div>
            <div class="icon"><a
                    href="https://www.pgyer.com/5wQB"><img alt="Btn download" class="btn_download" id="btn_download" src="https://o1wh05aeh.qnssl.com/image/view/app_icons/f5b7d9fe32e267d7ec7268cf94a54752/120"></a>
                <p> 点击下载“洗衣助手”app，即可报名</p>
                <p>小浣管家，新事业、新生活马上开始！</p></div>
        </div>
    </div>
    <script>var ua = navigator.userAgent.toLowerCase();
    var btn = document.getElementById("btn_download");
    btn.onclick = function () {
        location.href = "https://www.pgyer.com/5wQB";

    }</script>
</div>
{{js base.jsPageId}}